// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021 Data Respons Solutions AB
 */

/dts-v1/;

#include "imx8mm.dtsi"

/ {
	model = "Data Respons Solutions SDB8000";
	compatible = "drs,sdb8000", "fsl,imx8mm";

	chosen {
		stdout-path = &uart4;
	};

	aliases {
		rtc0 = &smc;
		rtc1 = &snvs_rtc;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0 0x80000000>;
	};

	reg_usb_otg1: regulator-usb-otg1 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usb_otg1>;
		regulator-name = "USB_OTG1_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio3 21 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <20000>;
		enable-active-high;
		regulator-always-on;
	};

	//FIXME: Find better type for VDC_IN 9-36V
	vdc_in: vdc-in {
		compatible = "regulator-fixed";
		regulator-name = "VDC_IN";
		regulator-min-microvolt = <9000000>;
		regulator-max-microvolt = <9000000>;
		regulator-always-on;
	};

	reg_vled_bl: regulator-vled-bl {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_vled_bl>;
		regulator-name = "VLED_BL";
		regulator-min-microvolt = <12210000>;
		regulator-max-microvolt = <12210000>;
		gpio = <&gpio1 6 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <20000>;
		enable-active-high;
	};

	reg_lcd_con: regulator-lcd-con {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_lcd_con>;
		regulator-name = "LCD_CON-VDD";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <20000>;
		enable-active-high;
	};

	reg_vio_m2_con: regulator-vio-m2-con {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_vio_m2_con>;
		regulator-name = "VIO-M2_CON";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio1 10 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <20000>;
		enable-active-high;
	};

	reg_wifi_ndisable_m2_con: reg-wifi-ndisable-m2-con {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_wifi_ndisable_m2_con>;
		vin-supply = <&reg_vio_m2_con>;
		regulator-name = "WIFI_nDISABLE-M2_CON";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 27 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <1000>;
		enable-active-high;
	};

	usdhc1_pwrseq: usdhc1_pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usdhc1_pwrseq>;
		reset-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <1>;
		clocks = <&clk_32k_in_m2_con>;
		clock-names = "ext_clock";
	};

	clk_32k_in_m2_con: clk-32k-in-m2-con {
		compatible = "gpio-gate-clock";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_clk_32k_in_m2_con>;
		clocks = <&osc_32k>;
		#clock-cells = <0>;
		enable-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
	};

/*
	backlight_j5: backlight-j5 {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 1000000>;
        brightness-levels = <	0 1 2 3 4 5 6 7 8 9 10 15 20 25
        						30 40 50 60 70 80 90 100 120 150
        					>;
		default-brightness-level = <23>;
		power-supply = <&reg_vled_bl>;
	};
*/
	backlight_j7: backlight-j7 {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 1000000 0>;
        brightness-levels = <	0 1 2 3 4 5 6 7 8 9 10 15 20 25
        						30 40 50 60 70 80 90 100 120 150
        					>;
		default-brightness-level = <23>;
		power-supply = <&vdc_in>;
		status = "okay";
	};

	panel_lvds: xt70618a {
		compatible = "panel-lvds";
		label = "xt70618a";
		data-mapping = "jeida-24";
		width-mm = <154>;
		height-mm = <86>;
		reset-gpios = <&gpio3 25 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		power-supply = <&reg_lcd_con>;
		backlight = <&backlight_j7>;

		panel-timing {
			clock-frequency = <51200000>; // 40,8 ~ 67,2
			hactive = <1024>;
			vactive = <600>;
			hback-porch = <30>;
			hfront-porch = <30>;
			vback-porch = <10>;
			vfront-porch = <10>;
			hsync-len = <260>;
			vsync-len = <15>;
		};

		port {
			xt70618a_from_bridge: endpoint {
				remote-endpoint = <&bridge_to_xt70618a>;
			};
		};
	};
};

&ddrc {
	operating-points-v2 = <&ddrc_opp_table>;

	ddrc_opp_table: opp-table {
		compatible = "operating-points-v2";

		opp-25M {
			opp-hz = /bits/ 64 <25000000>;
		};

		opp-100M {
			opp-hz = /bits/ 64 <100000000>;
		};

		opp-750M {
			opp-hz = /bits/ 64 <750000000>;
		};
	};
};

&A53_0 {
	cpu-supply = <&buck2_reg>;
};

&A53_1 {
	cpu-supply = <&buck2_reg>;
};

&A53_2 {
	cpu-supply = <&buck2_reg>;
};

&A53_3 {
	cpu-supply = <&buck2_reg>;
};

&ecspi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	cs-gpios = <&gpio5 9 GPIO_ACTIVE_LOW>;
	status = "okay";

	flash0: mx25l3233fm2i-08g@0 {
		//FIXME: WP
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			spl@0 {
				label = "spl";
				reg = <0x000000 0x040000>;
			};

			platform@40000 {
				label = "platform";
				reg = <0x040000 0x010000>;
				read-only;
			};

			u-boot@50000 {
				label = "u-boot";
				reg = <0x050000 0x1A0000>;
			};

			u-boot-second@1F0000 {
				label = "u-boot-second";
				reg = <0x1F0000 0x1A0000>;
			};

			system_a@390000 {
				label = "system_a";
				reg = <0x390000 0x010000>;
			};

			system_b@3A0000 {
				label = "system_b";
				reg = <0x3A0000 0x010000>;
			};

			user_a@3B0000 {
				label = "user_a";
				reg = <0x3B0000 0x010000>;
			};

			user_b@3C0000 {
				label = "user_b";
				reg = <0x3C0000 0x010000>;
			};
		};
	};
};

&ecspi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>;
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			at803x,eee-disabled;
			at803x,vddio-1p8v;
		};
	};
};

&i2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	bd71847: pmic@4b {
		compatible = "rohm,bd71847";
		reg = <0x4b>;
		pinctrl-0 = <&pinctrl_pmic>;
		pinctrl-names = "default";
		interrupt-parent = <&gpio1>;
		interrupts = <3 GPIO_ACTIVE_LOW>;
		rohm,reset-snvs-powered;

		#clock-cells = <0>;
		clocks = <&osc_32k 0>;
		clock-output-names = "clk-32k-out";

		regulators {
			buck1_reg: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
			};

			buck2_reg: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
				rohm,dvs-run-voltage = <1000000>;
				rohm,dvs-idle-voltage = <900000>;
			};

			buck3_reg: BUCK3 {
				// BUCK5 in datasheet
				regulator-name = "BUCK3";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1350000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck4_reg: BUCK4 {
				// BUCK6 in datasheet
				regulator-name = "BUCK4";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5_reg: BUCK5 {
				// BUCK7 in datasheet
				regulator-name = "BUCK5";
				regulator-min-microvolt = <1605000>;
				regulator-max-microvolt = <1995000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6_reg: BUCK6 {
				// BUCK8 in datasheet
				regulator-name = "BUCK6";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1_reg: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2_reg: LDO2 {
				regulator-name = "LDO2";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <900000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo3_reg: LDO3 {
				regulator-name = "LDO3";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4_reg: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo6_reg: LDO6 {
				regulator-name = "LDO6";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};


	smc: vmcu@51 {
		compatible = "drs,vmcu";
		reg = <0x51>;
		//FIXME: move interrupt
		//interrupt-parent = <&gpio5>;
		//interrupts = <9 IRQ_TYPE_EDGE_FALLING>;
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	pcie_clk: pi6cfgl201bzdie@d0 {
		compatible = "diodes,pi6cfgl201bzdie", "fixed-clock";
		reg = <0xd0>;
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};
};

&i2c3 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	lvds_bridge: sn65dsi84@2c {
		compatible = "ti,sn65dsi84";
		reg = <0x2c>;
		enable-gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				bridge_from_dsim: endpoint {
					remote-endpoint = <&dsim_to_bridge>;
					data-lanes = <1 2 3 4>;
				};
			};

			port@2 {
				reg = <2>;
				bridge_to_xt70618a: endpoint {
					remote-endpoint = <&xt70618a_from_bridge>;
				};
			};
		};
	};

	touch: gt5688@14 {
    	compatible = "goodix,gt5688";
    	reg = <0x14>;
    	interrupt-parent = <&gpio4>;
    	interrupts = <26 IRQ_TYPE_NONE>;
    	irq-gpios = <&gpio4 26 GPIO_ACTIVE_LOW>;
    	reset-gpios = <&gpio4 25 GPIO_ACTIVE_HIGH>;
	};
};

&lcdif {
	status = "okay";
};

&mipi_dsi {
	status = "okay";
	port@1 {
		dsim_to_bridge: endpoint {
			remote-endpoint = <&bridge_from_dsim>;
			attach-bridge;
		};
	};
};

&pcie0{
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie0>;
	reset-gpio = <&gpio3 22 GPIO_ACTIVE_LOW>;
	clocks = <&clk IMX8MM_CLK_PCIE1_ROOT>,
		 <&clk IMX8MM_CLK_PCIE1_AUX>,
		 <&clk IMX8MM_CLK_PCIE1_PHY>,
		 <&pcie_clk>;
	clock-names = "pcie", "pcie_aux", "pcie_phy", "pcie_bus";
	assigned-clocks = <&clk IMX8MM_CLK_PCIE1_AUX>;
	assigned-clock-rates = <10000000>;
	assigned-clock-parents = <&clk IMX8MM_SYS_PLL2_50M>;
	ext_osc = <1>;
	status = "okay";
};

&snvs_pwrkey {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	cts-gpios = <&gpio4 24 GPIO_ACTIVE_LOW>;
	rts-gpios = <&gpio4 23 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	cts-gpios = <&gpio4 30 GPIO_ACTIVE_LOW>;
	rts-gpios = <&gpio4 29 GPIO_ACTIVE_LOW>;
	fsl,dte-mode;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&usbotg1 {
	dr_mode = "host";
	vbus-supply = <&reg_usb_otg1>;
	status = "okay";
};

&usdhc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <4>;
	cap-power-off-card;
	pm-ignore-notify;
	keep-power-in-suspend;
	non-removable;
	mmc-pwrseq = <&usdhc1_pwrseq>;
	vmmc-supply = <&reg_wifi_ndisable_m2_con>;
	status = "okay";

	wifi: wifi@1 {
		compatible = "marvell,sd8997";
		reg = <1>;
	};
};

&usdhc3 {
	assigned-clocks = <&clk IMX8MM_CLK_USDHC3_ROOT>;
	assigned-clock-rates = <400000000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		reserved@0 {
			label = "reserved";
			reg = <0x0 0x1000000>;
		};
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&vpu_g1 {
	status = "okay";
};

&vpu_g2 {
	status = "okay";
};

&vpu_h1 {
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&gpu {
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;

	pinctrl_hog_1: hog1grp {
		fsl,pins = <
			// Used by panel
			MX8MM_IOMUXC_SAI5_MCLK_GPIO3_IO25	0x0 /* LCD_CON-RESET */
			MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11	0x0 /* LCD_CON-STBY */
		>;
	};

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX8MM_IOMUXC_ECSPI1_SCLK_ECSPI1_SCLK	0x82
			MX8MM_IOMUXC_ECSPI1_MISO_ECSPI1_MISO	0x82
			MX8MM_IOMUXC_ECSPI1_MOSI_ECSPI1_MOSI	0x82
			MX8MM_IOMUXC_ECSPI1_SS0_GPIO5_IO9		0x0 /* ECSPI1_SS0 */
			MX8MM_IOMUXC_GPIO1_IO15_GPIO1_IO15		0x0 /* WP_Flash */
		>;
	};

	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
			MX8MM_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK	0x82
			MX8MM_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI	0x82
			MX8MM_IOMUXC_ECSPI2_MISO_ECSPI2_MISO	0x82
			MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13		0x0 /* ECSPI2_SS0 */
		>;
	};

	pinctrl_fec1: fec1grp {
		fsl,pins = <
			MX8MM_IOMUXC_ENET_MDC_ENET1_MDC			0x3
			MX8MM_IOMUXC_ENET_MDIO_ENET1_MDIO		0x3
			MX8MM_IOMUXC_ENET_TD3_ENET1_RGMII_TD3		0x1f
			MX8MM_IOMUXC_ENET_TD2_ENET1_RGMII_TD2		0x1f
			MX8MM_IOMUXC_ENET_TD1_ENET1_RGMII_TD1		0x1f
			MX8MM_IOMUXC_ENET_TD0_ENET1_RGMII_TD0		0x1f
			MX8MM_IOMUXC_ENET_RD3_ENET1_RGMII_RD3		0x91
			MX8MM_IOMUXC_ENET_RD2_ENET1_RGMII_RD2		0x91
			MX8MM_IOMUXC_ENET_RD1_ENET1_RGMII_RD1		0x91
			MX8MM_IOMUXC_ENET_RD0_ENET1_RGMII_RD0		0x91
			MX8MM_IOMUXC_ENET_TXC_ENET1_RGMII_TXC		0x1f
			MX8MM_IOMUXC_ENET_RXC_ENET1_RGMII_RXC		0x91
			MX8MM_IOMUXC_ENET_RX_CTL_ENET1_RGMII_RX_CTL	0x91
			MX8MM_IOMUXC_ENET_TX_CTL_ENET1_RGMII_TX_CTL	0x1f
			MX8MM_IOMUXC_SAI2_RXC_GPIO4_IO22		0x19
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C1_SCL_I2C1_SCL		0x40000083
			MX8MM_IOMUXC_I2C1_SDA_I2C1_SDA		0x40000083
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C2_SCL_I2C2_SCL		0x40000083
			MX8MM_IOMUXC_I2C2_SDA_I2C2_SDA		0x40000083
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C3_SCL_I2C3_SCL		0x40000083
			MX8MM_IOMUXC_I2C3_SDA_I2C3_SDA		0x40000083
			MX8MM_IOMUXC_GPIO1_IO09_GPIO1_IO9	0x0 /* MIPI_DSI_EN */
			MX8MM_IOMUXC_GPIO1_IO13_GPIO1_IO13	0x80 /* MIPI_DSI_INT */
			MX8MM_IOMUXC_SAI2_TXD0_GPIO4_IO26	0x80 /* INT_TP */
			MX8MM_IOMUXC_SAI2_TXC_GPIO4_IO25	0x0 /* RST_TP */
		>;
	};

	pinctrl_pcie0: pcie0grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C4_SCL_PCIE1_CLKREQ_B	0x20 /* I2C4_SCL */
			MX8MM_IOMUXC_SAI5_RXD1_GPIO3_IO22		0x0 /* LAN1_PE_nRST */
			MX8MM_IOMUXC_SAI5_RXD2_GPIO3_IO23		0x0 /* LAN1_nSMBALRT */
			MX8MM_IOMUXC_SAI5_RXD3_GPIO3_IO24		0x0 /* LAN1_nWAKE */
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART1_RXD_UART1_DCE_RX		0x80
			MX8MM_IOMUXC_UART1_TXD_UART1_DCE_TX		0x80
			MX8MM_IOMUXC_SAI2_TXFS_GPIO4_IO24		0x80
			MX8MM_IOMUXC_SAI2_RXD0_GPIO4_IO23		0x80
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART2_RXD_UART2_DTE_TX		0x80
			MX8MM_IOMUXC_UART2_TXD_UART2_DTE_RX		0x80
			MX8MM_IOMUXC_SAI3_RXC_GPIO4_IO29		0x80
			MX8MM_IOMUXC_SAI3_RXD_GPIO4_IO30		0x80
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART4_RXD_UART4_DCE_RX		0x80
			MX8MM_IOMUXC_UART4_TXD_UART4_DCE_TX		0x80
		>;
	};

	pinctrl_pmic: pmicirqgrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO03_GPIO1_IO3		0x41
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B	0xc6
		>;
	};

	pinctrl_reg_usb_otg1: usbotg1grp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_RXD0_GPIO3_IO21	0x41
		>;
	};

	pinctrl_usdhc1_pwrseq: usdhc1pwrseqgrp{
		fsl,pins = <
			MX8MM_IOMUXC_SD1_RESET_B_GPIO2_IO10	0x0 /* WL_REG_ON */
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX8MM_IOMUXC_SD1_CLK_USDHC1_CLK		0x190
			MX8MM_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d0
			MX8MM_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d0
			MX8MM_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d0
			MX8MM_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d0
			MX8MM_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d0
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
		fsl,pins = <
			MX8MM_IOMUXC_SD1_CLK_USDHC1_CLK		0x194
			MX8MM_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d4
			MX8MM_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d4
			MX8MM_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d4
			MX8MM_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d4
			MX8MM_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d4
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
		fsl,pins = <
			MX8MM_IOMUXC_SD1_CLK_USDHC1_CLK		0x196
			MX8MM_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d6
			MX8MM_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d6
			MX8MM_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d6
			MX8MM_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d6
			MX8MM_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d6
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX8MM_IOMUXC_NAND_WE_B_USDHC3_CLK               0x190
			MX8MM_IOMUXC_NAND_WP_B_USDHC3_CMD               0x1d0
			MX8MM_IOMUXC_NAND_DATA04_USDHC3_DATA0           0x1d0
			MX8MM_IOMUXC_NAND_DATA05_USDHC3_DATA1           0x1d0
			MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2           0x1d0
			MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2           0x1d0
			MX8MM_IOMUXC_NAND_DATA07_USDHC3_DATA3           0x1d0
			MX8MM_IOMUXC_NAND_RE_B_USDHC3_DATA4             0x1d0
			MX8MM_IOMUXC_NAND_CE2_B_USDHC3_DATA5            0x1d0
			MX8MM_IOMUXC_NAND_CE3_B_USDHC3_DATA6            0x1d0
			MX8MM_IOMUXC_NAND_CLE_USDHC3_DATA7              0x1d0
			MX8MM_IOMUXC_NAND_CE1_B_USDHC3_STROBE           0x190
			/* FIXME: USDHC3_RESET_B: MX8MM_IOMUXC_NAND_READY_B_SIM_M_HADDR12 0xXX */
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <
			MX8MM_IOMUXC_NAND_WE_B_USDHC3_CLK               0x194
			MX8MM_IOMUXC_NAND_WP_B_USDHC3_CMD               0x1d4
			MX8MM_IOMUXC_NAND_DATA04_USDHC3_DATA0           0x1d4
			MX8MM_IOMUXC_NAND_DATA05_USDHC3_DATA1           0x1d4
			MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2           0x1d4
			MX8MM_IOMUXC_NAND_DATA07_USDHC3_DATA3           0x1d4
			MX8MM_IOMUXC_NAND_RE_B_USDHC3_DATA4             0x1d4
			MX8MM_IOMUXC_NAND_CE2_B_USDHC3_DATA5            0x1d4
			MX8MM_IOMUXC_NAND_CE3_B_USDHC3_DATA6            0x1d4
			MX8MM_IOMUXC_NAND_CLE_USDHC3_DATA7              0x1d4
			MX8MM_IOMUXC_NAND_CE1_B_USDHC3_STROBE           0x194
			/* FIXME: USDHC3_RESET_B: MX8MM_IOMUXC_NAND_READY_B_SIM_M_HADDR12 0xXX */
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <
			MX8MM_IOMUXC_NAND_WE_B_USDHC3_CLK               0x196
			MX8MM_IOMUXC_NAND_WP_B_USDHC3_CMD               0x1d6
			MX8MM_IOMUXC_NAND_DATA04_USDHC3_DATA0           0x1d6
			MX8MM_IOMUXC_NAND_DATA05_USDHC3_DATA1           0x1d6
			MX8MM_IOMUXC_NAND_DATA06_USDHC3_DATA2           0x1d6
			MX8MM_IOMUXC_NAND_DATA07_USDHC3_DATA3           0x1d6
			MX8MM_IOMUXC_NAND_RE_B_USDHC3_DATA4             0x1d6
			MX8MM_IOMUXC_NAND_CE2_B_USDHC3_DATA5            0x1d6
			MX8MM_IOMUXC_NAND_CE3_B_USDHC3_DATA6            0x1d6
			MX8MM_IOMUXC_NAND_CLE_USDHC3_DATA7              0x1d6
			MX8MM_IOMUXC_NAND_CE1_B_USDHC3_STROBE           0x196
			/* FIXME: USDHC3_RESET_B: MX8MM_IOMUXC_NAND_READY_B_SIM_M_HADDR12 0xXX */
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C4_SDA_PWM1_OUT	0x0 /* LCD_BK_PWM-CPU */
		>;
	};

	pinctrl_reg_vled_bl: regvledblgrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO06_GPIO1_IO6 0x0 /* LCD_BK_EN-CPU */
		>;
	};

	pinctrl_reg_lcd_con: reglcdcongrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO14_GPIO1_IO14	0x0 /* LCD_PWR_EN */
		>;
	};

	pinctrl_reg_vio_m2_con: regviom2congrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO10_GPIO1_IO10	0x0 /* SOC_M2_PEN */
		>;
	};

	pinctrl_reg_wifi_ndisable_m2_con: regwifindisablem2grp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI2_MCLK_GPIO4_IO27	0x0 /* PCIe_nDIS_LV */
		>;
	};

	pinctrl_clk_32k_in_m2_con: clk32kinm2congrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO05_GPIO1_IO5	0x0 /* CLK_32KOUT-CTRL */
			MX8MM_IOMUXC_GPIO1_IO00_ANAMIX_REF_CLK_32K	0x141 /* REF_CLK_32K */
		>;
	};
};
